body{
    margin:0px auto;
	background-color: black;
}

a {
color:#f1f1f1;font-size:12px    
}

.chart-container{
	margin:0px auto;
	text-align: center;
}

.chart-header{
	position: fixed;
	top:0;
	width: 100%;
	z-index: 120;
}

.chart-body{
	clear: both;
	margin:0px auto;
}

.chart-item{
	clear: both;
	float:left;
	background-color: black;
}

.chart-footer{
	clear:both;
}
