body{
    margin:0px auto;
	background-color: white;
}

a {
color:#f1f1f1;font-size:12px    
}

.chart-container{
	margin:0px auto;
}

.chart-header{
	position: fixed;
	top:0;
	width: 100%;
	text-align: center;
	background-color:lightsteelblue;
	z-index: 120;
	padding: 3px 5px;
}

.chart-body{
	clear: both;
	margin:0px auto;
}

.chart-item{
	clear:both;
	margin-top:35px;
	margin-bottom:25px;
}

.chart-view{
	height:300px;
}

.chart-footer{
	clear:both;
	margin-top: 60px;
	text-align: center;
	font-size: 15px;
}
